body{
  background-color: #FFF4E4;
  margin: 0;
}

.naam__bedrijf{
  height: 73px;
  margin-top: 40px;
  margin-left: 290px;
  font-size: 80px;
}

#page-nav {
  height: 180px;
  width: 100%;
  background: #F88020;
  float: left;
  position: sticky;
  top: 0;

}

.inlog_with{
  background-image: url(../img/icon3.png);
  background-repeat: no-repeat;
   background-position: 80px 30px;
  background-color: white;
 width: 70%;
 padding: 12px;
 margin: 10px 150px;
 display: inline-block;
 border: 1px solid black;
 box-sizing: border-box;
 height: 4em;
 margin-top: 3.5em;
 text-align: center;
  font-size: 30px;
}

.inlog_with2{
  background-image: url(../img/icon4.png);
  background-repeat: no-repeat;
    background-position: 80px 30px;
  background-color: white;
 width: 70%;
 padding: 12px;
 margin: 10px 150px;
 display: inline-block;
 border: 1px solid black;
 box-sizing: border-box;
 height: 4em;
 margin-top: 2em;
 text-align: center;
 font-size: 30px;
}

.e-mail{
  background-color: white;
 width: 80%;
 padding: 12px;
 margin: 10px 100px;
 display: inline-block;
 border: 1px solid black;
 box-sizing: border-box;
 height: 4em;
 margin-top: 1em;
 text-align: center;
 font-size: 30px;
}

.ww{
  background-color: white;
 width: 80%;
 padding: 12px;
 margin: 10px 100px;
 display: inline-block;
 border: 1px solid black;
 box-sizing: border-box;
 height: 4em;
 margin-top: 3.5em;
 text-align: center;
 font-size: 30px;
}

.login{
  background-color:  #F88020;
 width: 80%;
 padding: 12px;
 margin: 10px 100px;
 display: inline-block;
 border: 1px solid black;
 box-sizing: border-box;
 height: 4em;
 margin-top: 4em;
 text-align: center;
 font-size: 30px;
}

.signup{
  background-color:  #F88020;
 width: 80%;
 padding: 12px;
 margin: 10px 100px;
 display: inline-block;
 border: 1px solid black;
 box-sizing: border-box;
 height: 4em;
 margin-top: 3em;
 text-align: center;
 font-size: 30px;
}

.terug{
  background-color:  #F88020;
 width: 70%;
 padding: 12px;
 margin: 10px 150px;
 display: inline-block;
 border: 1px solid black;
 box-sizing: border-box;
 height: 4em;
 margin-top: 2em;
 text-align: center;
 font-size: 30px;
}

tr{
  font-size: 35px;
  height: 100px;
}

h2 {
  font-size: 220%;
  text-align: center;
  margin-top: 2em;
}
